amqp==5.3.1
asgiref==3.10.0
attrs==25.4.0
billiard==4.2.2
boto3==1.40.58
botocore==1.40.58
celery==5.4.0
celery-types==0.23.0
click==8.3.0
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
Django==5.2.7
django-appconf==1.1.0
django-celery-email==3.0.0
django-cors-headers==4.6.0
django-extensions==3.2.3
django-filter==25.2
django-redis==5.4.0
django-storages==1.14.6
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.28.0
factory-boy==3.3.0
Faker==27.0.0
greenlet==3.2.4
gunicorn==23.0.0
inflection==0.5.1
iniconfig==2.3.0
jmespath==1.0.1
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
kombu==5.5.4
MyProject==1.0
mysqlclient==2.2.7
packaging==25.0
pillow==12.0.0
pluggy==1.6.0
prompt_toolkit==3.0.52
Pygments==2.19.2
PyJWT==2.10.1
pytest==8.4.2
python-dateutil==2.9.0.post0
python-decouple==3.8
PyYAML==6.0.3
redis==5.2.1
referencing==0.37.0
rpds-py==0.27.1
s3transfer==0.14.0
setuptools==80.9.0
six==1.17.0
SQLAlchemy==2.0.44
sqlparse==0.5.3
typing_extensions==4.15.0
tzdata==2025.2
uritemplate==4.2.0
urllib3==2.5.0
vine==5.1.0
wcwidth==0.2.14
wheel==0.45.1
whitenoise==6.11.0
